@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

p {
    color: #333333;
}

.explantion_text {
    padding: 15px;
}

.div_prompts {
    border: solid wheat 1px;
    width: 100%;
    height: 152px;
}