.gender-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-item {
  position: relative;
  width: 100%;
}

.gender-item img {
  width: 100%;
  height: 500px;
  object-fit:cover;
}

.gender-item p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 5px 10px;
  font-size: 40px;
  font-weight: 400;
  background: transparent;
}

#all_genders {
  color: #fff;
}
