* {
  background: none;
  background-image: none;

}
.questionnaire {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #020953;
}

.section {
  margin-bottom: 20px;
}

.section p {
  margin-bottom: 10px;
  font-weight: bold;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: 2px solid #020953;
  background-color: #fff;
  color: #020953;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.selected {
  background-color: #020953;
  color: #fff;
}

button:hover {
  background-color: #020953;
  color: #fff;
}
